/*--------------------------------------------------------------------------------------------------------------------*/
html, body{/*Fondo de pantalla*/
    background-color: #023C40;
    overflow-x: hidden;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bajar{/*Bajar un poco el nav*/
    padding-top: 1rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.centrar_titulo{/*Centrar titulo Mega Games*/
    text-align: center;
    color: #AEB7B3;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.tamaño{/*tamaño carrusel*/
    max-height: 800px;
    min-height: 220px;
    min-width: 317px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.separar_items{/*Separar el navbar : inicio, nosotros, juegos, iniciar session, registrarse*/
    padding-right: 1rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.inicio{/*Padding-left : para que nos que tan pegado a la izquierda*/
    padding-left: 2rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.bordear{ /*Bordear fotos*/
    border-radius: 1rem;
}
.bordear2{
    border-radius: .5rem;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.tam_foto{ /*Se ocupo para poner del mismo tamaño las mascotas en adopta.html*/
    height: 20rem;
    width: 100%;
    max-width: 318px;
    max-height: 320px;
}
.tam-foto2{
    max-width: 650px;
    max-height: 790px;
}
.tamaño-card{
    width: 20rem;
    
}
.texto-card{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.btn:hover{ /*Diseño de lupa, carrito y perfil*/
    background-color: #023C40;
}
/*--------------------------------------------------------------------------------------------------------------------*/


.nav-nuevo{
    background-color:#AEB7B3;
    height: 50px;
    display: flex;
    justify-content: left;
}

.quitar-puntos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.espacio-il{
    padding: 15px;
}
.color-il{
    text-decoration: none;
    color: black;
    font-size: bold;
}

.mover-derecha{
    margin-right: 10px;
}

.logo{
    display: inline-block;
    max-width: 75px;
    max-height: 75px;
}

.tam-fuente{
    font-size: 1.5rem;
}

.tam-titulo{
    font-size: 4rem;
}
.tam-titulo2{
    font-size: 3rem;
}

.color-fondo{
    background-color: #22333B;
}

.display-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cambiar-texto-footer{
    list-style-type: none;
    padding: 0;
}
.quitar-azul{
    text-decoration: none;
    color: white;
}
.quitar-azul2{
    text-decoration: none;
    color: #AEB7B3;
}

.color-blanco{
    margin-bottom: 2rem;
    color: white;
}
.color-blanco2{
    color: white;
}
.color-blanco3{
    color: white;
}

.alinear-centro{
    text-align: center;
}

.borde-derecha{
    border-right: 2px solid #AEB7B3;
    padding-right: 10vw;
    min-height: 136px;
}

.color-distinto{
    color: #AEB7B3;
}

.color-distinto-tras{
    color: rgba(217, 217, 217, 0.5);
    margin: 0;
}

.controlar-forma{
    max-width: 207px;
}


/* ------------------------------------------------------ */
.cuadrado{
    background-color: #AEB7B3;
    width: 90%;
    height: 50%;
    margin-bottom: 1rem;
}

.centrar-texto{
    text-align: center;
    color: black;
    padding: 1rem 0;
}

.cuadro-genero{
    width: 200px;
    height: 50px;
    background-color: white;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}
.cuadro-genero2{
    width: 200px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.tamaño-cuadro{
    max-width: 60px;
    height: 40px;
}
.tamaño-cuadro2{
    display: flex;
    width: 30px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.tamaño-fav{
    width: 50px;
    height: 50px;
    margin-left: 10rem;
}
.quitar-azul3{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.negrita{
    font-weight: bold;
}

.texto{
    font-size: 1.5rem;
}
.btn-ingresar{
    height: 50px;
    width: 100px;
    border-radius: 20%;
}

/*color letra*/
.color-letra{
    color: #eee;
}

/*registrarse*/

.tam-perfil1{ 
    height: 200px;
    width: 200px;
}

.container2{
    display: flex;
    align-items: center;
}

.texto{
    text-align: center;
}

.separar{
    margin-bottom: 20px;
}

.margen{
    margin-left: center;
}

.centrar_titulo1{
    text-align: center;
    color: #AEB7B3;
}
.borde{
    border-bottom: 1px solid black ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.espacio{
    padding-top: 37rem;
    padding-bottom: 37rem;
}
/*titulo e imagen en iniciar sesion*/
.container{
    text-align: center;
}

.tam-perfil{ 
    height: 100px;
    width: 100px;
}
/*ingresar datos en inicio de sesion*/
.ingresar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-flow: column;
}

.posicion{
    position: relative;
    margin: 12px 0;
}

.posicion input{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: #acacac solid 2px;
    background-color: transparent;
    color: #eee;
    transition: 0.15s all ease;
}

.posicion input:focus {
    border-color: #eee;
}

.posicion input::placeholder{
    color: transparent;
}

.posicion .labell{
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 18px;
    padding: 0 10px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all aese;
}

.posicion input:focus + .labell,
.posicion input:not(:placeholder-shown) + 
.labell{
    transform: translate(5px, -22px);
    background-color: #023C40;
    font-size: 14px;
    color: #eee;
}

/*Nosotros*/
.centrar-titulo{
    text-align: center;
    color: white;
    padding-top: 1rem;
}
.centrar-titulo2{
    text-align: justify; /*Justify = justificar el texto*/
    color: black;
}
.tamaño_foto_nosotros{
    height: 25rem;
    width: 48rem;

}
.borde1{
    border: 1px black solid;
    border-radius: 20px 0px;
    background-color: antiquewhite;
}
.relleno{
    padding: 0.5rem;
    
}
.space{
    padding-top: 5rem;
}
/*Catalogo*/

.tam_catalogo{
    width: 17rem;
    height: 21rem;
    margin: 1rem;
}
.tam_foto_catalogo{
    height: 17rem;
}

.emparejar{
    display: flex;
    padding-left: 5rem;
    color: white;
}
.quitar-diseño{
    text-decoration: none;
    color:black;
}
.quitar-link{
    text-decoration: none;
}
/*carrito*/
.tamaño2{
    max-height: 200px;
    min-height: 55px;
    min-width: 66px;
}
.margen1{
    margin-left: 30px;
}
.margen2{
    margin-right: 30px;
}
.juntar{
    display: flex;
    justify-content: space-between;
}

.alinear1{
    flex-direction: row;
}

.texto5{
    margin-left: 30px;
    text-align: center;
}

.container3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contador {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}
.juntar1{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.tamaño3{
    max-height: 30px;
    min-height: 1px;
    min-width: 10px;
}

.boton3{
    margin-bottom: 10px;
}
.boton4{
    border-radius: 20%;
}

.boton-eliminar{
    background-color: transparent;
}

.moverizquierda{
    padding-left: 1rem;
}

.moverderecha{
    padding-right: 1rem;
}
.letras-carrito{
    font-size: 1.3rem;
}
.borde10{

    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card:hover{
    cursor: pointer;
    
}


@media screen and (max-width: 320px) {
    .tam-titulo{
        font-size: 2.5rem;
    }
    .tam-titulo2{
        font-size: 2rem;
    }
    .controlar-forma{
        max-width: 185px;
    }
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 3vw;
        min-height: 136px;
    }
    .color-blanco{
        margin-bottom: 1rem;
        color: white;
        font-size: .7rem;
    }
    .color-blanco2{
        color: white;
        font-size: .7rem;
    }
    .color-blanco3{
        color: white;
        font-size: .7rem;
        margin-top: .9rem;
    }
    .quitar-azul{
        text-decoration: none;
        color: white;
        font-size: .7rem;
    }
    .quitar-azul2{
        text-decoration: none;
        color: #AEB7B3;
        font-size: .7rem;
    }
    .color-distinto{
        color: #AEB7B3;
        font-size: .7rem;
    }
    
    .color-distinto-tras{
        color: rgba(217, 217, 217, 0.5);
        margin: 0;
        font-size: .7rem;
    }
    .tamaño-fav{
        width: 50px;
        height: 50px;
        margin-left: 4rem; 
    }
    .cuadro-genero{
        width: 100px;
        height: 50px;
        background-color: white;
        margin-right: .8rem;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
    }
    .cuadro-genero2{
        width: 100px;
        height: 50px;
        background-color: white;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
    }
    .texto{
        font-size: 1rem;
    }
    .letras-carrito{
        font-size: .7rem;
    }
}
@media screen and (min-width:321px) and (max-width: 575px) {
    .tam-titulo{
        font-size: 2.5rem;
    }
    .tam-titulo2{
        font-size: 2rem;
    }
    .controlar-forma{
        max-width: 185px;
    }
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 4vw;
        min-height: 136px;
    }
    .color-blanco{
        margin-bottom: 1rem;
        color: white;
        font-size: .9rem;
    }
    .color-blanco2{
        color: white;
        font-size: .9rem;
    }
    .color-blanco3{
        color: white;
        font-size: .9rem;
        margin-top: 1.5rem;
    }
    .quitar-azul{
        text-decoration: none;
        color: white;
        font-size: .9rem;
    }
    .quitar-azul2{
        text-decoration: none;
        color: #AEB7B3;
        font-size: .9rem;
    }
    
    .color-distinto{
        color: #AEB7B3;
        font-size: 1rem;
    }
    
    .color-distinto-tras{
        color: rgba(217, 217, 217, 0.5);
        margin: 0;
        font-size: .9rem;
    }
    .texto{
        font-size: 1rem;
    }
    .letras-carrito{
        font-size: .8rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    .tam-titulo{
        font-size: 3rem;
    }
    .tam-titulo2{
        font-size: 2.5rem;
    }
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 5vw;
        min-height: 136px;
    }
    .texto{
        font-size: 1rem;
    }
    .letras-carrito{
        font-size: .9rem;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .borde-derecha{
        border-right: 2px solid #AEB7B3;
        padding-right: 8vw;
        min-height: 136px;
    }
    .texto{
        font-size: 1.1rem;
    }
    .letras-carrito{
        font-size: 1.1rem;
    }
}
